body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("img/7.BackgroundAsset/sharkie_koralle_background.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
  
  canvas {
    display: block;
    background-color: black;
  }
  
  @font-face {
    font-family: "Luckiest-Guy-Regular";
    src: url("font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
  }
  
  h1 {
    font-family: "Luckiest-Guy-Regular";
    color: white;
    font-size: 48px;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
    margin: 16px 0;
  }
  
  .game-wrapper {
    position: relative;
    width: 820px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(83, 141, 228, 0.45);
  }
  
  .start-panel {
    width: 520px;
    max-width: 90%;
    background: rgba(7, 25, 52, 0.8);
    border-radius: 24px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  }
  
  .start-title {
    margin: 0 0 24px 0;
    font-family: "Luckiest-Guy-Regular";
    font-size: 32px;
    color: white;
    text-align: center;
  }
  
  .controls-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .control-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 22px;
    margin-left: 10px;
  }
  
  .key-img {
    width: 98px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
  }
  
  .space-key {
    width: 200px;
  }

  .d-key {
    width: 70px;
  }

  .finslap-title {
    font-family: "Luckiest-Guy-Regular";
    font-size: 32px;
    color: white;
    text-align: center;
  }
  

  .desc-img {
    height: 28px;
    width: auto;
    object-fit: contain;
  }
  
  .start-button {
    margin: 28px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .start-button img {
    width: 120px;
    height: auto;
    display: block;
  }
  
  .start-button:hover {
    transform: scale(1.05);
    transition: transform 120ms ease-in-out;
  }
  
  .start-button:active {
    transform: scale(0.98);
  }

  .game-over-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.65);
  }